@model CallejonDiagonApp.Models.Detallehorariotrabajo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Detallehorariotrabajo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHorarioTrabajoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorarioTrabajoNavigation.IdHorarioTrabajo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetalleHorarioT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
