@model IEnumerable<CallejonDiagonApp.Models.Producto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesMedidasIdUnidadMedidaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadesMedidasIdUnidadMedidaNavigation.IdUnidadMedida)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
