@model CallejonDiagonApp.Models.Venta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubttotalVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubttotalVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteTotalVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteTotalVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientesIdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientesIdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMetodoPagoNavigation.IdMetodoPago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
