@model CallejonDiagonApp.Models.Unidadesmedida

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Unidadesmedida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbreviaturaMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbreviaturaMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedidaStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedidaStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUnidadMedida">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
